<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffice</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
    <link rel="icon" href="https://pbs.twimg.com/media/GPbxz5CbkAAYo_b?format=png&name=900x900" type="image/x-icon">
</head>
<body>
    
    <div class="header">
        <img
            class="header-logo"
            src="https://pbs.twimg.com/media/GPWhLuzbIAAcsfx?format=png&name=small"
            height="41"
        />
        <div class="dropdown">
            <img
                onclick="myFunction()"
                class="dropbtn"
                src="https://cdn-icons-png.freepik.com/512/64/64572.png"
                height="40"
            />
            <div id="myDropdown" class="dropdown-content">
                {% if user.is_authenticated %}
                <a href="/myprofile/">Meu Perfil</a>
                <a href="/logout/">Logout</a>
                {% else %}
                <a href="/login/">Login</a>
                <a href="/register/">Register</a>
                {% endif %}
            </div>
        </div>
    </div>

    <br>
    <br>
    <h2 id="msg-filter">Olá, como você gostaria de trabalhar hoje?</h2>
    <br>
    <br>

    <!-- Div que contém todos os filtros -->
    <div class="filter-div">
      <!-- Div que contém os filtros da linha 1 -->
      <div class="first-line-filters">
        <button class="div-filter-option">
          <div class="filter-image-container">
            <img src="https://pbs.twimg.com/media/GPWIKttXwAAVFID?format=jpg&name=medium" class="filter-image" />
          </div>
          <div class="filter-text">Sozinho</div>
        </button>
        <button class="div-filter-option">
          <div class="filter-image-container">
            <img src="https://pbs.twimg.com/media/GPWLvvgXEAAck_b?format=jpg&name=4096x4096" class="filter-image" />
          </div>
          <div class="filter-text">Em grupo</div>
        </button>
      </div>
      <!-- Div que contém os filtros da linha 2 -->
      <div class="second-line-filters">
        <button class="div-filter-option-2">
          <div class="filter-image-container-2">
            <img src="https://pbs.twimg.com/media/GPWLvvgXEAAck_b?format=jpg&name=4096x4096" alt="Ambiente Silencioso" class="filter-image" />
          </div>
          <div class="filter-text-small">Ambiente silencioso</div>
        </button>
        <button class="div-filter-option-2">
          <div class="filter-image-container-2">
            <img src="https://pbs.twimg.com/media/GPWLvvgXEAAck_b?format=jpg&name=4096x4096" alt="Sala de reunião" class="filter-image" />
          </div>
          <div class="filter-text-small">Sala para reuniões</div>
        </button>
        <button class="div-filter-option-2">
          <div class="filter-image-container-2">
            <img src="https://pbs.twimg.com/media/GPWLvvgXEAAck_b?format=jpg&name=4096x4096" alt="Ambiente silencioso" class="filter-image" />
          </div>
          <div class="filter-text-small">Possibilidade de reserva</div>
        </button>
      </div>
      <!-- Div que contém os filtros da linha 3 -->
      <div class="third-line-filters">
        <button class="div-filter-option-3">
          <input type="checkbox" class="filter-checkbox" value="pertinho" />
          <div>Pertinho<br>de mim</div>
        </button>
        <button class="div-filter-option-3">
          <input type="checkbox" class="filter-checkbox" value="veggie" />Veggie
        </button>
        <button class="div-filter-option-3">
          <input type="checkbox" class="filter-checkbox" value="zero-lactose" />Zero Lactose
        </button>
        <button class="div-filter-option-3">
          <input type="checkbox" class="filter-checkbox" value="gluten-free" />Gluten Free
        </button>
        <button class="div-filter-option-3">
          <input type="checkbox" class="filter-checkbox" value="estacionamento" />
          <div>Estaciona-<br>mento</div>
        </button>
        <button class="div-filter-option-3">
          <input type="checkbox" class="filter-checkbox" value="acessibilidade" />Acessibilidade
        </button>
      </div>
    </div>

    <!-- Botão de Gerar opções -->
    <div class="generate-options">
      <button class="generate-options-button" onclick="generateOptions()">Gerar opções</button>
    </div>

    <br><br>

    <div class="coffees-list">
        {% for coffee in coffee_shops %}
        <!-- CADA CARD -->
        <div class="card">
          <a href="{% url 'coffee_shop_detail' pk=coffee.cnpj %}" class="card-link">
            <!-- BACKGROUND IMAGE -->
            <div class="background-image" style="background-image: url('https://sebraemg.com.br/wp-content/uploads/2018/10/terceira-onda-1-980x588.jpg')">
            </div>
            <!-- LOGO -->
            <div class="card-logo">
              <img src="https://static.ifood-static.com.br/image/upload/t_high/logosgde/5263af65-50db-482d-8ce9-239ce3b4cc32/201908161622_mXdZ_i.png" alt="Coffee Shop Logo"/>
            </div>
            
          </a>
          <div>
                <form action="{% url 'favorited_coffee_shop' pk=coffee.cnpj %}" method="POST" class="ui form">
                  {% csrf_token %}
                  <input type="hidden" name="redirect_to" value="home">
                    <button type="submit" id="FavSuccess" class="no-style-button">
                      {% if coffee.favorited %}
                          <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihbUqZTjvw8y_se2tiojwQETTdYh_12MB-szDQBiBLQj_UKDwk3n7VT9GxrtJASw8ZJx5WjW0fnAuQk4YNMsfUyn8P8ioeFY_3M=w1912-h976-rw-v1" alt="favoritado">
                      {% else %}
                          <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihauzrZ3JKU0RFjZdIkXtQ4xz4ZUvBQNoWdjglOxbSDlMOLXnCiOCz2cpsFaFNRKAgevYpRIkTsU7CzQBK-8cRe1N-amw1k58Ok=w953-h959-rw-v1" alt="não favoritado" style="opacity: 0.7;">
                      {% endif %}
                  </button>
              </form>
              
            </div>
            <!-- NOME DO CAFÉ E AVALIAÇÃO -->
            <div class="title-rating">
              <!-- NOME DO CAFÉ -->
              <div class="card-title">
                <span class="title-text">{{ coffee.name }}</span>
              </div>
              <!-- AVALIAÇÃO DO CAFÉ -->
              <div class="card-rating">
                <span class="rating-text">4.5 <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZ-hnnZOZxvOnRRUThOJACLioRnbouJ9iBb635GpoTIO5ON0nITrSqS1TqHhupsZdBzs5OcDJeTsp2pxK8aohj60hVpL2B5vJI=w1912-h976-rw-v1" alt="rating" style="height: 15px;width: 15px;"></span> 
              </div>
            </div>
            <!-- DESCRIÇÃO DO CAFÉ -->
            <div class="card-description">
              <div>
              <span>{{ coffee.street }}, {{ coffee.number }}</span>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
      document.querySelectorAll('.div-filter-option, .div-filter-option-2, .div-filter-option-3').forEach(function(button) {
        button.addEventListener('click', function() {
          this.classList.toggle('active');
        });
      });

      document.querySelector(".dropdown").addEventListener("mouseover", function () {
          document.getElementById("myDropdown").classList.add("show");
      });

      document.querySelector(".dropdown").addEventListener("mouseout", function () {
          document.getElementById("myDropdown").classList.remove("show");
      });

      window.onclick = function (event) {
          if (!event.target.matches(".dropbtn")) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              for (var i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains("show")) {
                      openDropdown.classList.remove("show");
                  }
              }
          }
      };

     function generateOptions() {
      // Inicializa um array para armazenar os valores dos filtros selecionados
      const selectedFilters = [];

      // Seleciona todos os checkboxes que estão marcados
      const checkboxes = document.querySelectorAll('.filter-checkbox:checked');

      // Itera sobre cada checkbox e adiciona o valor ao array de filtros selecionados
      checkboxes.forEach((checkbox) => {
        selectedFilters.push(checkbox.value);
      });

      // Seleciona os botões de filtro da primeira linha
      const firstLineFilterButtons = document.querySelectorAll('.first-line-filters .div-filter-option');

      // Itera sobre cada botão de filtro da primeira linha
      firstLineFilterButtons.forEach((button) => {
        // Verifica se o botão está ativo
        if (button.classList.contains('active')) {
          // Seleciona o checkbox dentro do botão de filtro
          const checkbox = button.querySelector('.filter-text');

          // Verifica se o checkbox está presente e possui um valor
          if (checkbox && checkbox.innerText) {
            // Se estiver ativo e o checkbox tiver um valor, adiciona o valor ao array de filtros selecionados
            selectedFilters.push(checkbox.innerText);
          }
        }
      });

      // Seleciona os botões de filtro da segunda linha
      const secondLineFilterButtons = document.querySelectorAll('.second-line-filters .div-filter-option-2');

      // Itera sobre cada botão de filtro da segunda linha
      secondLineFilterButtons.forEach((button) => {
        // Verifica se o botão está ativo
        if (button.classList.contains('active')) {
          // Seleciona o checkbox dentro do botão de filtro
          const checkbox = button.querySelector('.filter-text-small');
          // Verifica se o checkbox está presente e possui um valor
          if (checkbox && checkbox.innerText) {
            // Se estiver ativo e o checkbox tiver um valor, adiciona o valor ao array de filtros selecionados
            selectedFilters.push(checkbox.innerText);
          }
        }
  });

      // Seleciona os botões de filtro da terceira linha
      const thirdLineFilterButtons = document.querySelectorAll('.third-line-filters .div-filter-option-3');

      // Itera sobre cada botão de filtro da terceira linha
      thirdLineFilterButtons.forEach((button) => {
        // Verifica se o botão está ativo
        if (button.classList.contains('active')) {
          // Seleciona o checkbox dentro do botão de filtro
          const checkbox = button.querySelector('.filter-checkbox');
          // Verifica se o checkbox está presente e possui um valor
          if (checkbox && checkbox.value) {
            // Se estiver ativo e o checkbox tiver um valor, adiciona o valor ao array de filtros selecionados
            selectedFilters.push(checkbox.value);
          }
        }
      });

      // Cria um objeto para armazenar os parâmetros de consulta
      const params = new URLSearchParams();

      // Adiciona cada filtro selecionado aos parâmetros de consulta
      selectedFilters.forEach((filter) => {
        params.append(filter, 'true');
      });

      // Debug: Verificar os filtros selecionados
      console.log('Selected Filters:', params.toString());

      // Redireciona para a página atual com os parâmetros de consulta
      window.location.href = '?' + params.toString();
    }

      // ...
    </script>
  </body>
</html>
