<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliar {{ coffee_shop.name }}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'avaliar.css' %}" />
    <link rel="icon" href="https://pbs.twimg.com/media/GPbxz5CbkAAYo_b?format=png&name=900x900" type="image/x-icon">
</head>
<body>
    <div class="header">
      <a href="{% url 'home' %}">

        <img
            class="header-logo"
            src="https://pbs.twimg.com/media/GPWhLuzbIAAcsfx?format=png&name=small"
            height="41"
        />

      </a>
        
        <div class="dropdown">
            <img
                onclick="myFunction()"
                class="dropbtn"
                src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihb67HQT9jP6_0eVWC2VQJHnm9YY7SXD9rCcqpuE2OmaSjWfNt1a2lUYDzOiX68GdBBP3TuSWbL1Xpih3PDlGjvHM4asQ3xLWQ=w1912-h976-rw-v1"
                height="40"
            />
            <div id="myDropdown" class="dropdown-content">
                {% if user.is_authenticated %}
                <a href="/myprofile/">Meu Perfil</a>
                <a href="/logout/">Logout</a>
                {% else %}
                <a href="/login/">Login</a>
                <a href="/register/">Register</a>
                {% endif %}
            </div>
            <img onclick="myFunction()" class="dropbtn" src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZCyoLhRKN0a0vSgLblevrTdpS6CVmV6iB_5-FuuNQhB6qUKTzNUevbfRkbojipz1TtPWJuANlPUFYyDg4-5Y4SsL1SJKOwAVM=w950-h959" alt="setadropdown" style="margin-bottom: 5px;">
        </div>
    </div>
    
    <form method="post" onsubmit="return calculateAverage();">
        {% csrf_token %}
        <div class="field fields-container">
            <div class="esquerda">
                <h1>Avalie a {{ coffee_shop.name }}</h1>
                <p>Compartilhe conosco sua opinião</p>
                <div class="score-field">
                    <h3>Comida</h3>
                    <div class="rating" id="foodRating">
                        <input type="hidden" name="score" value="0">
                        <span class="star" data-value="1">&#9733;</span>
                        <span class="star" data-value="2">&#9733;</span>
                        <span class="star" data-value="3">&#9733;</span>
                        <span class="star" data-value="4">&#9733;</span>
                        <span class="star" data-value="5">&#9733;</span>
                    </div>
                    <h3 id="segundo">Bebida</h3>
                    <div class="rating-2" id="drinkRating">
                        <input type="hidden" name="score" value="0">
                        <span class="star-2" data-value="6">&#9733;</span>
                        <span class="star-2" data-value="7">&#9733;</span>
                        <span class="star-2" data-value="8">&#9733;</span>
                        <span class="star-2" data-value="9">&#9733;</span>
                        <span class="star-2" data-value="10">&#9733;</span>
                    </div>
                    <h3 id="terceiro">Ambiente</h3>
                    <div class="rating-3" id="ambianceRating">
                        <input type="hidden" name="score" value="0">
                        <span class="star-3" data-value="11">&#9733;</span>
                        <span class="star-3" data-value="12">&#9733;</span>
                        <span class="star-3" data-value="13">&#9733;</span>
                        <span class="star-3" data-value="14">&#9733;</span>
                        <span class="star-3" data-value="15">&#9733;</span>
                    </div>
                    <h3 id="quarto">Geral</h3>
                    <div class="rating-4" id="overallRating">
                        <input type="hidden" name="score" value="0">
                        <span class="star-4" data-value="16">&#9733;</span>
                        <span class="star-4" data-value="17">&#9733;</span>
                        <span class="star-4" data-value="18">&#9733;</span>
                        <span class="star-4" data-value="19">&#9733;</span>
                        <span class="star-4" data-value="20">&#9733;</span>
                    </div>
                    <span class="score-error">{{ form.score.errors }}</span>
                </div>
            </div>
            <div class="comment-field">
                <div class="textarea-container">
                    <span class="comment-placeholder">Escreva aqui sua avaliação...</span>
                    {{ form.comment }}
                </div>
                {{ form.comment.errors }}
            </div>
        </div>
        <button type="submit">Adicionar avaliação</button>
    </form>

<script>
    function myFunction() {
        var dropdownContent = document.getElementById("myDropdown");
        dropdownContent.classList.toggle("show");
    }

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    };

    function calculateRatingAverage(ratingSelector) {

        if (ratingSelector == "#foodRating") {
            const stars = document.querySelectorAll(ratingSelector + ' .star.selected');
        
            let totalValue = 0;

            stars.forEach(star => {
                totalValue += parseInt(star.getAttribute('data-value'));
            });

            totalValue += 1; // Adicionar 1 para que o valor mínimo seja 1

            return stars.length > 0 ? totalValue / stars.length : 0;

        } else if (ratingSelector == "#drinkRating") {
            const stars = document.querySelectorAll(ratingSelector + ' .star-2.selected');

            let totalValue = 0;

            stars.forEach(star => {
                totalValue += parseInt(star.getAttribute('data-value'));
            });

            totalValue += 1; // Adicionar 1 para que o valor mínimo seja 1

            return stars.length > 0 ? totalValue / stars.length : 0;

        } else if (ratingSelector == "#ambianceRating") {
            const stars = document.querySelectorAll(ratingSelector + ' .star-3.selected');

            let totalValue = 0;

            stars.forEach(star => {
                totalValue += parseInt(star.getAttribute('data-value'));
            });

            totalValue += 1; // Adicionar 1 para que o valor mínimo seja 1

            return stars.length > 0 ? totalValue / stars.length : 0;

        } else if (ratingSelector == "#overallRating") {
            const stars = document.querySelectorAll(ratingSelector + ' .star-4.selected');

            let totalValue = 0;

            stars.forEach(star => {
                totalValue += parseInt(star.getAttribute('data-value'));
            });

            totalValue += 1; // Adicionar 1 para que o valor mínimo seja 1

            return stars.length > 0 ? totalValue / stars.length : 0;

        } else {
            console.error("Invalid rating selector:", ratingSelector);
            return 0;
        }
        
        
    }

    document.addEventListener('DOMContentLoaded', function () {
        var commentInput = document.querySelector('.comment-field textarea');
        var commentPlaceholder = document.querySelector('.comment-placeholder');

        // Esconder a mensagem quando o campo tem foco
        commentInput.addEventListener('focus', function () {
            commentPlaceholder.style.display = 'none';
        });

        // Mostrar a mensagem se o campo estiver vazio
        commentInput.addEventListener('blur', function () {
            if (commentInput.value === '') {
                commentPlaceholder.style.display = 'inline';
            }
        });

        // Verificar se o campo já está preenchido ao carregar a página
        if (commentInput.value !== '') {
            commentPlaceholder.style.display = 'none';
        }

        function handleStars(starSelector, inputSelector, errorSelector) {
            const stars = document.querySelectorAll(starSelector);
            const scoreInput = document.querySelector(inputSelector);
            const scoreError = document.querySelector(errorSelector);

            stars.forEach(star => {
                star.addEventListener('click', () => {
                    const value = parseInt(star.getAttribute('data-value')) % 5 || 5;
                    scoreInput.value = value;
                    stars.forEach(s => {
                        s.classList.remove('selected');
                    });
                    for (let i = 0; i < value; i++) {
                        stars[i].classList.add('selected');
                    }
                    scoreError.textContent = '';
                    console.log(`Selected value for ${starSelector}:`, value);
                });

                star.addEventListener('mouseover', () => {
                    const value = parseInt(star.getAttribute('data-value')) % 5 || 5;
                    stars.forEach(s => {
                        s.classList.remove('hover');
                    });
                    for (let i = 0; i < value; i++) {
                        stars[i].classList.add('hover');
                    }
                });

                star.addEventListener('mouseout', () => {
                    stars.forEach(s => {
                        s.classList.remove('hover');
                    });
                });
            });
        }

        handleStars('.rating .star', '#foodRating input[name="score"]', '.score-error');
        handleStars('.rating-2 .star-2', '#drinkRating input[name="score"]', '.score-error');
        handleStars('.rating-3 .star-3', '#ambianceRating input[name="score"]', '.score-error');
        handleStars('.rating-4 .star-4', '#overallRating input[name="score"]', '.score-error');
    });

    function calculateAverage() {
        var foodScore = calculateRatingAverage('#foodRating');
        console.log("foodScore:", foodScore);
        var drinkScore = calculateRatingAverage('#drinkRating');
        console.log("drinkScore:", drinkScore);
        var ambianceScore = calculateRatingAverage('#ambianceRating');
        console.log("ambianceScore:", ambianceScore);
        var overallScore = calculateRatingAverage('#overallRating');
        console.log("overallScore:", overallScore);

        var totalScore = (foodScore + drinkScore + ambianceScore + overallScore) / 4;
        console.log("totalScore:", totalScore);

        document.querySelector('input[name="score"]').value = totalScore;

        return true; // Permitir o envio do formulário
    }

    document.querySelector(".dropdown").addEventListener("mouseover", function () {
        document.getElementById("myDropdown").classList.add("show");
    });

    document.querySelector(".dropdown").addEventListener("mouseout", function () {
        document.getElementById("myDropdown").classList.remove("show");
    });

    window.onclick = function (event) {
        if (!event.target.matches(".dropbtn")) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains("show")) {
                    openDropdown.classList.remove("show");
                }
            }
        }
    };

</script>

</body>
</html>
