
    @import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

    /* General styles */
    body {
        font-family: 'Lexend', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0;
        padding: 20px;
        flex: 1;
        justify-content: space-between;
        align-items: flex-start; 
        flex-direction: row; 
        flex-wrap: wrap; 
    }

    /* Header styles */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #fff;
        width: 100%;
        box-sizing: border-box;
        border: none;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      }
    

    .header-logo {
        height: 41px;
        margin-right: 20px;
    }

    .header .home-button {
        font-family: 'Lexend', sans-serif;
        font-size: 20px;
        color: #333;
        text-decoration: none;
    }

    .logo-home-container {
        display: flex;
        align-items: center;
    }

    .navigation {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .navigation a {
        margin: 0 15px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .dropdown {
        position: relative;
    }

    .dropbtn {
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
    }

    .dropbtn img {
        height: 40px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .show {
        display: block;
    }



    .error {
        color: red;
        margin-top: 10px;
    }

    /* Footer styles */
    .footer {
        text-align: center;
        padding: 20px 0;
        border-top: 1px solid #ddd;
        margin-top: auto;
    }

    .footer p {
        margin: 0;
    }

    .footer a {
        margin: 0 10px;
        text-decoration: none;
        color: #333;
    }


    .coffee-shop-name {
        text-align: left;
        font-size: 70px; /* aumenta o tamanho da fonte */
        margin-top: 30px; /* adiciona um esp */
    }


    .review {
    border: 1px solid #ddd;
    margin: 10px; /* adiciona 10px de espaçamento em todos os lados */
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    flex-basis: calc(25% - 20px); /* Aumentado de 10% para 30% */
    font-size: 14px;
    width: calc(25% - 20px); /* Define a largura para ser a mesma que a base flex */
}
    
.image-container {
    display: flex;
    justify-content: flex-end; /* alinha a imagem à direita */
    margin-top: -100px; /* ajuste este valor conforme necessário */
    margin-left: 700px; /* adiciona um pouco de espaço à direita */
    margin-bottom: 0px; /* adiciona um espaço abaixo da imagem */
}
    
    .image-container img {
        height: 400px;
        width: 600px;
        border-radius: 40px; /* bordas arredondadas */
    }

    .review-form {
        display: flex;
        justify-content: center; /* alinha o botão ao centro */
        margin-top: 20px; /* adiciona um espaço acima do botão */
        margin-left: 300px; /* adiciona um espaço à esquerda do botão */
    }
    
    .review-form-button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #DC5F4A;
        color: white;
        cursor: pointer;
    }
    
    .review-form-button:hover {
        background-color: #c0392b;
    }


    .review-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .box-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        margin: 20px 0;
    }

    .esquerda{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 58%;
        margin: 20px 0;
    }
    .main-picture {
        height: 400px;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
      }

    .direita{
    width: 40%;
      }

      .avaliacoes-button-2 {
        background-color: #DC5F4A;
        border-radius: 20px;
        cursor: pointer;
        width: 32%;
        height: 53px;
        align-items: center;
        display: flex;
        justify-content: center;
      }
      
      .avaliacoes-button-2 a{
        text-decoration: none;
        color: white;
        font-size: 19.7;
        font-weight: 400;
      }

      .filtros-botao{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        flex-direction: row;
        gap: 10px; 

      }

      .ordenar{
        display: flex;
        justify-content: flex-start; 
        align-items: center;
        width: 100%;
        margin-top: 20px;
        flex-direction: row;    
        gap: 10px; 
    }
    
    