
    @import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

    /* General styles */
    body {
        font-family: 'Lexend', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }

    /* Header styles */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 20px;
        background-color: #fff;
        width: 100%;
        box-sizing: border-box;
        border: none;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      }
    

    .header-logo {
        height: 41px;
        margin-right: 20px;
    }

    .header .home-button {
        font-family: 'Lexend', sans-serif;
        font-size: 20px;
        color: #333;
        text-decoration: none;
    }

    .logo-home-container {
        display: flex;
        align-items: center;
    }

    .navigation {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .navigation a {
        margin: 0 15px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .dropdown {
        position: relative;
    }

    .dropbtn {
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
    }

    .dropbtn img {
        height: 40px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 8px;
        overflow: hidden;
      }
      
      .dropdown-content a {
        color: #DC5F4A;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: 'Lexend', sans-serif;
        font-size: 20px;
        transition: background-color 0.3s ease;
      }
      
      .dropdown-content a:hover {
        background-color: #f1f1f1;
      }

    .show {
        display: block;
    }



    .error {
        color: red;
        margin-top: 10px;
    }

    /* Footer styles */
    .footer {
        text-align: center;
        padding: 20px 0;
        border-top: 1px solid #ddd;
        margin-top: auto;
    }

    .footer p {
        margin: 0;
    }

    .footer a {
        margin: 0 10px;
        text-decoration: none;
        color: #333;
    }


    .coffee-shop-name {
        text-align: left;
        font-size: 70px; /* aumenta o tamanho da fonte */
        margin-top: 30px; /* adiciona um esp */
    }

    
.image-container {
    display: flex;
    justify-content: flex-end; /* alinha a imagem à direita */
    margin-top: -100px; /* ajuste este valor conforme necessário */
    margin-left: 700px; /* adiciona um pouco de espaço à direita */
    margin-bottom: 0px; /* adiciona um espaço abaixo da imagem */
}
    
.image-container img {
    height: 400px;
    width: 600px;
    border-radius: 40px; /* bordas arredondadas */
}

.review-form {
    display: flex;
    justify-content: center; /* alinha o botão ao centro */
    margin-top: 20px; /* adiciona um espaço acima do botão */
    margin-left: 300px; /* adiciona um espaço à esquerda do botão */
}

.review-form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #DC5F4A;
    color: white;
    cursor: pointer;
}

.review-form-button:hover {
    background-color: #c0392b;
}


.review-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.box-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 20px 0px 50px 0px;
}

.esquerda{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 58%;
    margin: 20px 0;
    height: 100%;
}

.inferior {
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 100%;
}

.esquerda h1 {
    font-size: 96px;
    color: #2A4B48;
    margin: 0;
    height: 100px;
}

.superior h2 {
    font-size: 14px;
    color: #8f8f8f;
    margin: 10px 0px 10px 0px;
}

.main-picture {
    height: 300px;
    width: auto;
    background-size: cover;
    background-position: center;
    border-radius: 52px;
}

.direita{
    width: 40%;
}

.direita .avaliacoes-button-2 {
    margin-top: 20px;
}

.avaliacoes-button-2 {
  background-color: #DC5F4A;
  border-radius: 20px;
  cursor: pointer;
  width: 30%;
  height: 53px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 19.7;
  font-weight: 400;
}

.avaliacoes-button-2:hover {
    background-color: #c0392b; /* Altera a cor de fundo ao passar o mouse */
}

.avaliacoes-button-2.clicked {
    background-color: #DC5F4A; /* Restaura a cor de fundo quando clicado */
}

.avaliacoes-button-3 {
  background-color: #DC5F4A;
  border-radius: 20px;
  cursor: pointer;
  width: 30%;
  height: 53px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 19.7;
  font-weight: 400;
}

.avaliacoes-button-3:hover {
    background-color: #c0392b; /* Altera a cor de fundo ao passar o mouse */
}

.avaliacoes-button-3.clicked {
    background-color: #DC5F4A; /* Restaura a cor de fundo quando clicado */
}

.filtros-botao{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-top: 7px;
    flex-direction: row;
    gap: 10px; 
}

.ordenar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-top: 7px;
    flex-direction: row;
    gap: 10px; 
}

.estrela {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 16px;
}

.estrela img {
    margin-right: 5px;
}

.estrela h3 {
    /* fonte lexend mais fina */
    font-weight: 300;
    margin-left: 15px;
    font-size: 20px;
    color: #8f8f8f;
}

.inferior h2 {
    font-size: 20px;
    color: #575756;
    margin: 30px 0px 0px 0px;
}

/* CARDS */

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row; 
    flex-wrap: wrap;
}

.review {
    margin: 10px 45px; 
    border-radius: 28px;
    font-size: 14px;
    width: 22%;
    background-color: #f2f2f2;
    min-width: 300px;
    box-sizing: border-box;
    height: 214px;
}

.profile-picture {
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px 5px 5px 20px;
}

.topo {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.topo-info {
    margin-left: 10px;
    height: 40px;
    margin: 20px 5px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.topo-info h3 {
    font-size: 13px;
    color: #3c3c3b;
    font-weight: 600;
}

.topo-info h4 {
    font-size: 10px;
    color: #8b898f;
    font-weight: 400;
    margin-top: 3px;
}

.review_1 {
    text-align: left;
    margin: 0;
}

.estrela-cinza {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 16px;
    margin: 10px 0px 15px 20px;
}

.estrela-cinza img {
    margin-right: 5px;
}

.review_3 {
    margin: 0px 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limita o número de linhas a 5 */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; /* Adiciona "..." no final do texto */
    word-break: break-word; /* Garante que palavras longas sejam quebradas corretamente */
    height: calc(1.2em * 5); /* Ajusta a altura para caber exatamente 5 linhas de texto */
    max-height: calc(1.2em * 5); /* Limita a altura máxima para garantir que não haja expansão */
    line-height: 1.2em; /* Define a altura da linha para garantir que o cálculo da altura esteja correto */
    text-align: justify;
}

